.swiper {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.link {
    font-size: 2.3vw;
    color: white;
    background-color: rgba(9, 9, 10, 0.4);
    margin-bottom: 0.25rem;
    padding: 0.25rem;
    border-radius: 20px;
    
}

.link span {
    font-size: 3rem;
    margin: 0;
}

.link:hover {
    font-family: var(--font-1);
    background-color: rgba(96,165,250, 0.8);
    scale: 1.01;
    cursor: pointer;
}

.swiper-container {
    margin: 0 auto;
    width: 60%;
    height: 60%;
}